
	
<hr class="featurette-divider">
	 <div class="row featurette">
        <div class="col-md-4">
          <img class="featurette-image img-responsive" lazy-src="{{globaVar.imagePrefix}}{{foodDetails.img}}" alt="{{foodDetails.img}}" style="height: 300px">
        </div>
        <div class="col-md-7">
          <h1 class="featurette-heading">{{foodDetails.name}} </h1>
          <h4 >主要食材：{{foodDetails.food}}</h4>
          <div class="lead" style="font-size: 16px">做法描述：{{foodDetails.description}}</div>
        </div>
      </div>
<hr class="featurette-divider">
<script type="text/javascript">
	
</script>
